<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <file>./src/DecoratorServiceProvider.php</file>
      <file>./src/Traits/Resultable.php</file>
      <file>./src/Traits/HasTransactions.php</file>
      <file>./src/Repositories/AbstractRepository.php</file>
      <directory suffix=".php">./src/Console/</directory>
      <directory suffix=".php">./src/Exceptions/</directory>
      <directory suffix=".php">./src/config/</directory>
      <directory suffix=".php">./vendor/</directory>
    </exclude>
    <report>
      <html outputDirectory="test_coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>tests/</directory>
      <exclude>./vendor</exclude>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
